# To ignore the ghc-compiled files (which have no extension), this .gitignore file works by telling git which files to include

# Exclude every file in the code folder from versioning
code/*
# except this very file,
!.gitignore
# the Haskell sources, the problems inputs, the .md files
!code/*.hs
!code/*.in
!code/*.md
